<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
        <target>System.out</target>
        <encoder>
            <!-- <pattern>%X{akkaTimestamp} %-5level - %msg%n</pattern> -->
            <pattern>%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"} [%thread] %-5level - %msg%n</pattern>
        </encoder>
    </layout>
    </appender>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>/var/log/pcs/server.log</file>
        <append>true</append>
        
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>/home/demiourgos728/logs/log-%d{yyyy-MM-dd-HH:mm}.log</fileNamePattern>
            <maxHistory>5</maxHistory> 
        </rollingPolicy>
        
        <encoder>
            <pattern>[%d{"yyyy-MM-dd'T'HH:mm:ss,SSS"}] | [${ENVIRONMENT_EXECUTION}] | [PCS] | [%-5level] | [%thread] | [%msg]%n</pattern>
        </encoder>
    </appender>

    <appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
        <destination>${LOGSTASH:-0.0.0.0:5000}</destination>
        <!-- encoder is required -->
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

        <logger name="akka" level="${AKKA_DEBUG_MODE}"/>
        <logger name="akka.kafka" level="${AKKA_KAFKA_DEBUG_MODE}"/>
        <logger name="org.apache.zookeeper" level="${APACHE_ZOOKEEPER_DEBUG_MODE}"/>
        <logger name="org.I0Itec.zkclient" level="${I0ITEC_ZKCLIENT_DEBUG_MODE}"/>
        <logger name="kafka" level="${KAFKA_DEBUG_MODE}"/>
        <logger name="org.reflections" level="${REFLECTION_DEBUG_MODE}"/>
        <logger name="org.apache.kafka" level="${APACHE_KAFKA_DEBUG_MODE}"/>
        <logger name="org.apache.kafka.common.utils.AppInfoParser" level="${APACHE_KAFKA_APP_INFO_PARSER_DEBUG_MODE}"/>
        <logger name="org.apache.kafka.clients.NetworkClient" level="${APACHE_KAFKA_CLIENTS_NETWORK_CLIENT_DEBUG_MODE}"/>
        <logger name="com.datastax" level="${DATASTAX_DEBUG_MODE}"/>
        <logger name="io.netty" level="${IO_NETTY_DEBUG_MODE}"/>
        <logger name="com.codahale.metrics.JmxReporter" level="${METRICS_JMX_REPORTER_DEBUG_MODE}"/>
        <logger name="in net.logstash" level="${NET_LOGSTASH_DEBUG_MODE}"/>

        <root level="ERROR">
            <appender-ref ref="CONSOLE"/>
            <appender-ref ref="stash"/>
            <appender-ref ref="FILE"/>
        </root>

    </configuration>

